@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  background: url("layered-waves-haikei.svg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

button#submit-btn {
  cursor: pointer;
  background-color: hsl(206, 100%, 6%);
  color: hsl(4, 94%, 69%);
  font-weight: bold;
  font-size: 20px;
  position: relative;
  /* overflow: hidden; */
}
/* button#submit-btn::after {
  background-color: hsl(4, 94%, 69%);
  border-radius: 40% 60% 0 0;
  position: absolute;
  content: "";
  display: block;
  position: absolute;
  width: 250px;
  margin-bottom: 50px;
  margin-left: 50px;
  padding-top: 50px;
  padding-left: 100px;
  top: 0;
  left: 0;
  transition: all 2s;
  /* opacity: 0; */
/* }
button#submit-btn:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
} */

input,
button,
select {
  font-family: inherit;
  width: 250px;
  padding: 10px;
  font-size: inherit;
  border-radius: 5px;
  border: 1px solid hsl(206, 100%, 6%);
}

input,
select {
  background-color: transparent;
  color: hsl(206, 100%, 6%);
  font-weight: 500;
}

input:focus,
select:focus {
  background-color: transparent;
  outline: 1px solid hsl(206, 100%, 6%);
}

label {
  margin-left: 10px;
  color: hsl(206, 100%, 6%);
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 0.5rem;
  border: 1px solid;
  padding: 20px;
  border-radius: 10px;
  background-color: hsla(0, 0%, 100%, 0.7);
}

.container {
  /* width: 800px; */
  margin: 2rem auto;
  /* border: 1px solid; */
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));
  justify-items: center;
  gap: 2rem;
}

/* #output {
  width: 400px;
  border: 1px solid;
  padding: 20px;
  border-radius: 10px;
  background-color: hsla(0, 0%, 100%, 0.7);
} */

#output > h4,
#result > li {
  width: 400px;
  border: 1px solid;
  padding: 20px;
  border-radius: 10px;
  background-color: hsla(0, 0%, 100%, 0.7);
}
